In [2]:
import pandas as pd

In [5]:
#varijabla rječnik
data= {
    'stupac 1':['zec', 'lav', 'miš', 'slon'],
    'stupac 2':['hrast', 'bor', 'jela', 'bukva'],
    'stupac 3':['kiša', 'snijeg', 'sunce', 'magla'],
    'stupac 4':['grad', 'selo', 'naselje', 'država']
}

In [7]:
# iz rječnika kreiramo objekt klase data frame koja se nalazi u modulu pandas
data_frame=pd.DataFrame(data)
data_frame

  stupac 1 stupac 2 stupac 3 stupac 4
0      zec    hrast     kiša     grad
1      lav      bor   snijeg     selo
2      miš     jela    sunce  naselje
3     slon    bukva    magla   država

# Pandas_Series(serija)

stupac u DataFrame tablici (jedna dimenzija)

In [9]:
data_frame['stupac 2']

0    hrast
1      bor
2     jela
3    bukva
Name: stupac 2, dtype: object

In [10]:
serija = pd.Series([3, 5, 8, 10, 12], name='Brojevi')
serija

0     3
1     5
2     8
3    10
4    12
Name: Brojevi, dtype: int64

In [11]:
serija_t = pd.Series(['3', '5', '8', '10', '12'], name='Brojevi')
serija_t

0     3
1     5
2     8
3    10
4    12
Name: Brojevi, dtype: object

In [12]:
serija_b = pd.Series([True, True, False])
serija_b

0     True
1     True
2    False
dtype: bool

In [14]:
serija_dec = pd.Series([3.2, 4.2,5.0], name='Brojevi')
serija_dec

0    3.2
1    4.2
2    5.0
Name: Brojevi, dtype: float64

#### Prepoznaje vrijednosti te definira da li je int, float, object...

In [15]:
serija = pd.Series([3, 5, 8, 10, 12], index=['a', 'b', 'c', 'd', 'e'],name='Brojevi')
serija

a     3
b     5
c     8
d    10
e    12
Name: Brojevi, dtype: int64

#### index mijenja nazive redaka

In [16]:
serija1=pd.Series([3,5,8,1,9,3,7,9,10,4,3,2,8,7,4], name='Oznaka')
serija1

0      3
1      5
2      8
3      1
4      9
5      3
6      7
7      9
8     10
9      4
10     3
11     2
12     8
13     7
14     4
Name: Oznaka, dtype: int64

In [17]:
serija1[6]

7

#### pristupanje članu serije je kao kod liste serija1[index]

In [18]:
serija1[3:8]

3    1
4    9
5    3
6    7
7    9
Name: Oznaka, dtype: int64

In [20]:
serija2=serija1[3:13:3]
serija2

3     1
6     7
9     4
12    8
Name: Oznaka, dtype: int64

In [22]:
serija2[2]

KeyError: 2

#### serija2 nema indexe po redu nego generirane od osnovne

In [23]:
serija2.index

RangeIndex(start=3, stop=13, step=3)

In [24]:
serija2.values

array([1, 7, 4, 8], dtype=int64)

#### array tip, nije lista

In [25]:
serija2.reset_index()

   index  Oznaka
0      3       1
1      6       7
2      9       4
3     12       8

In [26]:
serija2

3     1
6     7
9     4
12    8
Name: Oznaka, dtype: int64

In [29]:
serija2.reset_index(inplace=True, drop=True)
serija2

0    1
1    7
2    4
3    8
Name: Oznaka, dtype: int64

#### trajno promijeni indexe x.reset_index(inplace=True, drop=True)

In [30]:
serija2[2]='sunce'
serija2

0        1
1        7
2    sunce
3        8
Name: Oznaka, dtype: object

In [31]:
serija1

0      3
1      5
2      8
3      1
4      9
5      3
6      7
7      9
8     10
9      4
10     3
11     2
12     8
13     7
14     4
Name: Oznaka, dtype: int64

In [32]:
serija1[serija1 > 5]

2      8
4      9
6      7
7      9
8     10
12     8
13     7
Name: Oznaka, dtype: int64

In [33]:
serija1/100

0     0.03
1     0.05
2     0.08
3     0.01
4     0.09
5     0.03
6     0.07
7     0.09
8     0.10
9     0.04
10    0.03
11    0.02
12    0.08
13    0.07
14    0.04
Name: Oznaka, dtype: float64

In [34]:
serija1.unique()

array([ 3,  5,  8,  1,  9,  7, 10,  4,  2], dtype=int64)

#### .unique() pokazuje jedinstvene vrijednosti unutar liste

In [35]:
serija1.value_counts()

3     3
8     2
9     2
7     2
4     2
5     1
1     1
10    1
2     1
Name: Oznaka, dtype: int64

In [36]:
serija1.value_counts().sort_values()

5     1
1     1
10    1
2     1
8     2
9     2
7     2
4     2
3     3
Name: Oznaka, dtype: int64

In [37]:
serija1.isin([2,3])           #prikazuje za sve indexe da li se nalaze u traženom

0      True
1     False
2     False
3     False
4     False
5      True
6     False
7     False
8     False
9     False
10     True
11     True
12    False
13    False
14    False
Name: Oznaka, dtype: bool

#### .isin([x]) naredba pokazuje gdje se nalazi taj podatak

In [38]:
serija1[serija1.isin([2,3])]  #prikazuje indexe traženih vrijednosti

0     3
5     3
10    3
11    2
Name: Oznaka, dtype: int64

#### Zadatak

Generirajte nasumičnih 100 brojeva u rasponu od 0-100 te ih pohranite u Python listu. Od te liste kreirajte Pandas seriju te joj dajte naziv.
_ provjerite koliko ima brojeva koji se ponavljaju te koliko se puta svaki od njih ponavlja
_ koji je broj najveći, koji najmanji?
_ modificirajte podatke u seriji da se svedu na postotke
_ promijenite vrijednosti najvećeg broja tako da je identična vrijednosti najmanjeg broja. Provjerite koji je sada najveći broj

In [47]:
pd.set_option('display.max.rows', None)
import random
brojevi_ran=[]
for i in range(100):
    a=random.randint(0,100)
    brojevi_ran.append(a)
brojevi_ran

[19,
 74,
 95,
 39,
 53,
 76,
 98,
 23,
 48,
 58,
 76,
 92,
 99,
 64,
 74,
 13,
 10,
 32,
 47,
 16,
 16,
 67,
 37,
 59,
 100,
 2,
 11,
 28,
 86,
 31,
 73,
 77,
 39,
 89,
 11,
 83,
 49,
 20,
 95,
 46,
 27,
 3,
 22,
 76,
 85,
 50,
 4,
 34,
 18,
 48,
 24,
 12,
 19,
 25,
 60,
 69,
 74,
 43,
 34,
 34,
 37,
 63,
 59,
 95,
 38,
 74,
 64,
 66,
 46,
 18,
 79,
 68,
 41,
 68,
 24,
 14,
 48,
 90,
 57,
 11,
 67,
 71,
 28,
 99,
 33,
 83,
 53,
 41,
 57,
 11,
 20,
 51,
 36,
 4,
 49,
 5,
 98,
 79,
 52,
 23]

In [48]:
brojevi=pd.Series(brojevi_ran)
brojevi

0      19
1      74
2      95
3      39
4      53
5      76
6      98
7      23
8      48
9      58
10     76
11     92
12     99
13     64
14     74
15     13
16     10
17     32
18     47
19     16
20     16
21     67
22     37
23     59
24    100
25      2
26     11
27     28
28     86
29     31
30     73
31     77
32     39
33     89
34     11
35     83
36     49
37     20
38     95
39     46
40     27
41      3
42     22
43     76
44     85
45     50
46      4
47     34
48     18
49     48
50     24
51     12
52     19
53     25
54     60
55     69
56     74
57     43
58     34
59     34
60     37
61     63
62     59
63     95
64     38
65     74
66     64
67     66
68     46
69     18
70     79
71     68
72     41
73     68
74     24
75     14
76     48
77     90
78     57
79     11
80     67
81     71
82     28
83     99
84     33
85     83
86     53
87     41
88     57
89     11
90     20
91     51
92     36
93      4
94     49
95      5
96     98
97     79
98     52
99     23
dtype: int64

In [49]:
brojevi.value_counts()

11     4
74     4
34     3
95     3
76     3
48     3
28     2
83     2
20     2
46     2
4      2
19     2
18     2
59     2
79     2
68     2
41     2
57     2
24     2
49     2
37     2
23     2
67     2
16     2
99     2
64     2
39     2
53     2
98     2
69     1
43     1
63     1
38     1
66     1
14     1
25     1
90     1
71     1
33     1
51     1
36     1
5      1
60     1
92     1
12     1
32     1
2      1
86     1
31     1
73     1
77     1
89     1
47     1
10     1
58     1
13     1
27     1
3      1
22     1
85     1
50     1
100    1
52     1
dtype: int64

In [50]:
brojevi.max()

100

In [51]:
brojevi.min()

2

In [52]:
brojevi_postotak=brojevi/100
brojevi_postotak

0     0.19
1     0.74
2     0.95
3     0.39
4     0.53
5     0.76
6     0.98
7     0.23
8     0.48
9     0.58
10    0.76
11    0.92
12    0.99
13    0.64
14    0.74
15    0.13
16    0.10
17    0.32
18    0.47
19    0.16
20    0.16
21    0.67
22    0.37
23    0.59
24    1.00
25    0.02
26    0.11
27    0.28
28    0.86
29    0.31
30    0.73
31    0.77
32    0.39
33    0.89
34    0.11
35    0.83
36    0.49
37    0.20
38    0.95
39    0.46
40    0.27
41    0.03
42    0.22
43    0.76
44    0.85
45    0.50
46    0.04
47    0.34
48    0.18
49    0.48
50    0.24
51    0.12
52    0.19
53    0.25
54    0.60
55    0.69
56    0.74
57    0.43
58    0.34
59    0.34
60    0.37
61    0.63
62    0.59
63    0.95
64    0.38
65    0.74
66    0.64
67    0.66
68    0.46
69    0.18
70    0.79
71    0.68
72    0.41
73    0.68
74    0.24
75    0.14
76    0.48
77    0.90
78    0.57
79    0.11
80    0.67
81    0.71
82    0.28
83    0.99
84    0.33
85    0.83
86    0.53
87    0.41
88    0.57
89    0.11
90    0.20
91    0.51
92    0.36
93    0.04
94    0.49
95    0.05
96    0.98
97    0.79
98    0.52
99    0.23
dtype: float64